@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Fira sans, sans-serif;
}
.dark {
  background-color: #1b1b1b;
  color: #fff;
}
strong {
  font-family: Lobster, cursive;
  font-weight: 400;
}
b {
  font-family: Fira sans;
  font-weight: 400;
}

body{
  overflow-x: hidden;
}
